[Unit]
Description=Performs rclone bisync on the default Google Drive

[Service]
Type=simple
ExecStart=/bin/bash /home/kuba/.local/bin/rclone-auto-sync.sh